<head>
  <title><%= title %> </title>
  <meta charset="UTF-8">
</head>

<body>
  <div class="container-fluid content">
    <h1><%= title %> </h1>
    <h5><%= anime.english %> </h5>
    <h6><%= anime.native %> </h6>
    <p><%= anime.summary %> </p>
    <hr>
    <p>Format: <%= anime.format %> </p>
    <p>Episodes: <%= anime.episodes %> </p>
    <p>Status: <%= anime.status %> </p>
    <p>Season: <%= anime.season %> </p>
    <p>Start Date: <%= anime.start_date_formatted %> </p>
    <p>End Date: <%= anime.end_date_formatted %> </p>
    <p>Genres:
      <% let count = 0; %>
      <% for(genre of anime.genres) { %>
      <% 
        let string = genre.name 
        count++;
        if (count != anime.genres.length) {
          string += "," ;
        }
      %>
      <a href=<%= genre.url %>> <%= string %> </a>
      <% } %>
    </p>
    <hr>
    <p><a href=<%= anime.url+"/delete" %>> Delete Anime </a></p>
    <p><a href=<%= anime.url+"/update" %>> Update Anime </a></p>
  </div>
</body>